body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'MontReg';
  src: local('MontReg'),
  url('./fonts/Montserrat-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'MontBold';
  src: local('MontBold'),
  url('./fonts/Montserrat-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'MontMedium';
  src: local('MontMedium'),
  url('./fonts/Montserrat-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'MontSemiBold';
  src: local('MontSemiBold'),
  url('./fonts/Montserrat-SemiBold.ttf') format('truetype')
}
